.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input,
.form-control textarea{
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}
.form-control input,
.form-control textarea{
    border: 1px solid rgb(228, 173, 72);
    font: inherit;
    border-radius: 5px;
}
.form-control input:focus,
.form-control textarea :focus{
    outline-color: rgb(85, 72, 201) ;
}
.BT{
    font: inherit;
    border: 1px solid rgb(25, 16, 46);
    color: rgb(2, 6, 15);
    background: white;
    border-radius: 4px;
    cursor: pointer;

}

.BT:active,
.BT:hover 
{
    background-color: rgb(48, 35, 92);
    color: white;
}