extends Layout/main-layout.pug
block References
    link(rel="stylesheet", href="/css/products.css")
block Content
    main
        form.product-form(action='/admin/add-product',method="POST")
            div.form-control
                label(for="title") Title
                input(type='text',name='title')#title
            button.BT(type='submit') Add-product



                        